
body {
    margin-top: 0;
    margin-bottom: 0;

}

.button-container {
    height: 100vh;
    background-color: rgb(222, 222, 222);

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

}

.counter-button {
    background-color: rgb(25, 135, 84);
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    

}

